body{
	
	background-color:#ccffff;
 color:black;
 
}


u{
text-decoration:dottedlines;

}
h1{
	color:black;
text-align:center;
font-family:castller;
font-size:54px;
}
.sai{
	text-align:center;

}
.gf{
	font-size:33px;
	font-family:roboto;
}
img{
	float:left;
	width:200px;
	height:230px;;
	margin-right:15px;
}
.dd{
	font-family:bold;
	font-size:20px;
}
q{
	font-size:34px;
color:white;

}
h2{color:red;
}
